/* GENERAL */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6fa;
}


/* NAVBAR */

.navbar-brand {
    font-size: 24px;
}


/* HERO */

.hero {
    padding: 80px 0;
    background-color: #a8c9f7;
}


/* TARJETAS */

.card {
    border: none;
    box-shadow: 0 3px 10px rgba(201, 75, 75, 0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


/* IMAGENES */

.card-img-top {
    height: 220px;
    object-fit: cover;
}


/* TARJETAS DE DEPORTES */

.sport-card {
    overflow: hidden;
}


/* BUSCADOR */

.search-box {
    background-color: rgb(209, 192, 255);
}


/* ICONOS */

.icono-grande {
    font-size: 60px;
    color: #61ab17;
}


/* BOTONES */

.btn-primary {
    padding-left: 25px;
    padding-right: 25px;
}


/* FOOTER */

footer {
    margin-top: 50px;
}


/* RESPONSIVE */

@media (max-width: 768px) {

    .hero {
        padding: 50px 0;
        text-align: center;
    }

    .hero img {
        margin-top: 30px;
    }

    .card-img-top {
        height: 200px;
    }

}